@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

:root {
  --white: #ffffff;
  // --coffee: #693f26;
  --coffee: #422006;
  --cappuccino: #886d63;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: var(--coffee);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.btn {
  @apply self-center p-2 rounded-xl font-bold text-coffee bg-yellow-900/10;
}

.cta {
  @apply flex items-center justify-center pl-4 pr-2 rounded-xl font-bold text-coffee bg-yellow-900/10;
}

.showMoreBtn {
  @apply self-center p-2 rounded-xl text-coffee underline;
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  @media (min-width: 640px) {
    -webkit-line-clamp: 4;
  }
}

.showAll {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.input {
  @apply w-full p-2 border border-gray-300 rounded mb-4;
}

.hero-section {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.skills-section {
  .skill-paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 50px;
  }
  p {
    font-weight: bold;
    background-color: white;
    width: fit-content;
    padding: 5px;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(124, 94, 16, 0.18);
    display: inline-block;
    transition: transform 0.2s ease;

    &:hover {
      animation: bounce 0.5s ease;
    }
  }
  h3 {
    font-size: large;
    padding-bottom: 20px;
  }
}

.swiper-slide {
  @media (max-width: 767px) {
    max-width: 180px;
    &:first-child {
      margin-left: 2rem;
    }
    &:last-child {
      margin-right: 2rem;
    }
  }
}

// A11y

* {
  &:focus-visible {
    outline: 2px solid var(--coffee);
    border-radius: 3px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.back-to-top {
  &:focus-visible {
    outline: 2px solid var(--cappuccino);
  }
}

// skills box animation
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
